#home_section {
    width: 60%;
    margin: 0 auto;
    font-family: $regular;
    .blogs_list {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            font-family: $italic;
        }
    }
}