@font-face {
    font-family: 'JetbrainsMono-Regular';
    src: url('./assets/fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Regular.woff');
}

@font-face {
    font-family: 'JetbrainsMono-Italic';
    src: url('./assets/fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Italic.woff');
}